*.o
*~
*.bak
.*
!.travis.yml
!.github
*.autosave
BUILD_*
ToDo
coverage
packages
test/functionalTest/cases/*.complete
test/functionalTest/cases/*.diff
test/functionalTest/cases/*/*.diff
test/functionalTest/cases/*.out
test/functionalTest/cases/*/*.out
test/functionalTest/cases/*.regexpect
test/functionalTest/cases/*/*.regexpect
test/functionalTest/cases/*.shell
test/functionalTest/cases/*/*.shell
test/functionalTest/cases/*.shellInit
test/functionalTest/cases/*/*.shellInit
test/functionalTest/cases/*.stdout
test/functionalTest/cases/*/*.stdout
test/functionalTest/cases/*.stderr
test/functionalTest/cases/*/*.stderr
test/functionalTest/cases/*.teardown
test/functionalTest/cases/*/*.teardown
test/functionalTest/cases/*/*.sorted
test/functionalTest/cases/*.contextBroker.log
test/functionalTest/cases/*/*.contextBroker.log

core*
test/valgrind/*.out
src/lib/common/compileInfo.h

# Qt creator project files
fiware-orion.config
fiware-orion.creator
fiware-orion.creator.user
fiware-orion.creator.user.*
fiware-orion.files
fiware-orion.includes
fiware-orion.cflags
fiware-orion.cxxflags

rpm/RPMS/
rpm/SRPMS/
rpm/SOURCES/
rpm/BUILDROOT/
rpm/src/

*.pyc
test/acceptance/properties.json
