*.o
*~
.*
BUILD_*
ToDo
coverage
packages
test/testharness/*.complete
test/testharness/*.diff
test/testharness/*.out
test/testharness/*.regexpect
test/testharness/*.expect
test/testharness/*.sh
test/testharness/*.sh_init
test/testharness/*.sh_init.stderr
test/testharness/*.sh_init.stdout
test/testharness/*.out
test/testharness/*/*.complete
test/testharness/*/*.diff
test/testharness/*/*.out
test/testharness/*/*.regexpect
test/testharness/*/*.expect
test/testharness/*/*.sh
test/testharness/*/*.sh_init
test/testharness/*/*.sh_init.stderr
test/testharness/*/*.sh_init.stdout
test/testharness/*/*.out
core*
test/valgrind/*.out
contextBroker.*
src/lib/common/version.h
