git+https://visitor:visitor@pdihub.hi.inet/fiware/fiware-iotqaUtils@v.3.1.2
pymongo==4.6.3  # changed from 2.8 due to vulnerability check in github although we haven't checked if it works...
flask==2.3.2   # changed from 0.12.3 to 2.3.2 due to vulnerability check in github although we haven't checked if it works...
lettuce==0.2.20
requests==2.31.0  # changed from 2.20.0 (test/acceptance is no longer in use)
psutil==5.6.6 # changed from 2.2.1 to 5.6.6 due to vulnerability check in github although we havent checked if it works...
fabric==1.10.0
