name: Compliance Tests

on:
  push:
  pull_request:
    branches:
      - master

jobs:
  compliance:
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v2

      - name: Run Test
        run: |
          ci/rpm8/build.sh -s compliance -tp $(pwd)
