name: Functional Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
      - '!checkvalgrind**'

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
   TEST_IMAGE_NAME: telefonicaiot/fiware-orion:ci

jobs:
  functional:
    runs-on: ubuntu-22.04
    continue-on-error: true

    services:
      mongodb:
        image: mongo:6.0
        ports:
          - 27017:27017

      mosquitto-extra:
        # Needed by MQTT notification tests (multi broker)
        #image: eclipse-mosquitto:2.0.11
        image: eclipse-mosquitto:1.6.15
        ports:
        - 1884:1883

    name: functional - ${{ matrix.payload.name }}

    strategy:
      matrix:
        payload:
          - { name: 'batch 1 - cache', range: '-e FT_FROM_IX=0 -e FT_TO_IX=300' }
          - { name: 'batch 2 - cache', range: '-e FT_FROM_IX=301 -e FT_TO_IX=600' }
          - { name: 'batch 3 - cache', range: '-e FT_FROM_IX=601 -e FT_TO_IX=900' }
          - { name: 'batch 4 - cache', range: '-e FT_FROM_IX=901 -e FT_TO_IX=1200' }
          - { name: 'batch 5 - cache', range: '-e FT_FROM_IX=1201' }
          - { name: 'batch 1 - no cache', range: '-e CB_NO_CACHE=ON -e FT_FROM_IX=0 -e FT_TO_IX=300' }
          - { name: 'batch 2 - no cache', range: '-e CB_NO_CACHE=ON -e FT_FROM_IX=301 -e FT_TO_IX=600' }
          - { name: 'batch 3 - no cache', range: '-e CB_NO_CACHE=ON -e FT_FROM_IX=601 -e FT_TO_IX=900' }
          - { name: 'batch 4 - no cache', range: '-e CB_NO_CACHE=ON -e FT_FROM_IX=901 -e FT_TO_IX=1200' }
          - { name: 'batch 5 - no cache', range: '-e CB_NO_CACHE=ON -e FT_FROM_IX=1201' }

    steps:
      - uses: actions/checkout@v2

      - name: Run Mosquitto container with authenticated user
        # Why don't to use a service for this (as moquitto-extra above)? It would be the desirable solution, but I haven't able to
        # configure volumes properly for it (the mosquitto container as service has problems to get the configuration files). Feedback welcome! :)
        run: docker run -d --name mosquitto -p 1883:1883 -v $(pwd)/test/functionalTest/mosquittoConf:/mosquitto/config eclipse-mosquitto:2.0.11

      - name: Run functional test
        run: |
          docker run  --network host -t --rm -e REPO_ACCESS_TOKEN=${{ secrets.REPO_ACCESS_TOKEN }} ${{ matrix.payload.range }} -v $(pwd):/opt/fiware-orion ${{ env.TEST_IMAGE_NAME }} build -miqts functional
