name: Functional Tests

on:
  push:
  pull_request:
    branches:
      - master

env:
   TEST_IMAGE_NAME: fiware/orion-ci:rpm8

jobs:
  functional-1:
    runs-on: ubuntu-18.04

    services:
      mongodb:
        image: mongo:4.4
        ports:
          - 27017:27017
          
      mosquitto:
        # Needed by MQTT notification tests
        image: eclipse-mosquitto:1.6.7
        ports:
        - 1883:1883

      mosquitto-extra:
        # Needed by MQTT notification tests (multi broker)
        image: eclipse-mosquitto:1.6.7
        ports:
        - 1884:1883

    steps:
      - uses: actions/checkout@v2

      - name: Run functional test
        run: |
          docker run  --network host -t --rm -e FT_FROM_IX=0 -e FT_TO_IX=300 -v $(pwd):/opt/fiware-orion ${{ env.TEST_IMAGE_NAME }} build -miqts functional

  functional-2:
    runs-on: ubuntu-18.04

    services:
      mongodb:
        image: mongo:4.4
        ports:
          - 27017:27017
          
      mosquitto:
        # Needed by MQTT notification tests
        image: eclipse-mosquitto:1.6.7
        ports:
        - 1883:1883

      mosquitto-extra:
        # Needed by MQTT notification tests (multi broker)
        image: eclipse-mosquitto:1.6.7
        ports:
        - 1884:1883

    steps:
      - uses: actions/checkout@v2

      - name: Run functional test
        run: |
          docker run  --network host -t --rm -e FT_FROM_IX=301 -e FT_TO_IX=600 -v $(pwd):/opt/fiware-orion ${{ env.TEST_IMAGE_NAME }} build -miqts functional

  functional-3:
    runs-on: ubuntu-18.04

    services:
      mongodb:
        image: mongo:4.4
        ports:
          - 27017:27017
          
      mosquitto:
        # Needed by MQTT notification tests
        image: eclipse-mosquitto:1.6.7
        ports:
        - 1883:1883

      mosquitto-extra:
        # Needed by MQTT notification tests (multi broker)
        image: eclipse-mosquitto:1.6.7
        ports:
        - 1884:1883

    steps:
      - uses: actions/checkout@v2

      - name: Run functional test
        run: |
          docker run  --network host -t --rm -e FT_FROM_IX=601 -e FT_TO_IX=900 -v $(pwd):/opt/fiware-orion ${{ env.TEST_IMAGE_NAME }} build -miqts functional

  functional-4:
    runs-on: ubuntu-18.04

    services:
      mongodb:
        image: mongo:4.4
        ports:
          - 27017:27017
          
      mosquitto:
        # Needed by MQTT notification tests
        image: eclipse-mosquitto:1.6.7
        ports:
        - 1883:1883

      mosquitto-extra:
        # Needed by MQTT notification tests (multi broker)
        image: eclipse-mosquitto:1.6.7
        ports:
        - 1884:1883

    steps:
      - uses: actions/checkout@v2

      - name: Run functional test
        # we dont set an upper index here, so that no test is left out(currently there are 1169, if a lot of them will be added an additional stage might make sense)
        run: |
          docker run  --network host -t --rm -e FT_FROM_IX=901 -v $(pwd):/opt/fiware-orion ${{ env.TEST_IMAGE_NAME }} build -miqts functional
