name: Functional Tests

on:
  push:
  pull_request:
    branches:
      - master

env:
   TEST_IMAGE_NAME: fiware/orion-ci:rpm8

jobs:
  functional:
    runs-on: ubuntu-18.04

    services:
      mongodb:
        image: mongo:4.4
        ports:
          - 27017:27017

      mosquitto:
        # Needed by MQTT notification tests
        image: eclipse-mosquitto:1.6.7
        ports:
        - 1883:1883

      mosquitto-extra:
        # Needed by MQTT notification tests (multi broker)
        image: eclipse-mosquitto:1.6.7
        ports:
        - 1884:1883

    strategy:
      matrix:
        range:
          - -e FT_FROM_IX=0 -e FT_TO_IX=300
          - -e FT_FROM_IX=301 -e FT_TO_IX=600
          - -e FT_FROM_IX=601 -e FT_TO_IX=900
          - -e FT_FROM_IX=901 -e FT_TO_IX=1200
          - -e FT_FROM_IX=1201

    steps:
      - uses: actions/checkout@v2

      - name: Run functional test
        run: |
          docker run  --network host -t --rm -e ${{ matrix.range }} -v $(pwd):/opt/fiware-orion ${{ env.TEST_IMAGE_NAME }} build -miqts functional
