name: Functional Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
      - '!checkvalgrind**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  TEST_IMAGE_NAME: telefonicaiot/fiware-orion:ci

jobs:
  functional:
    runs-on: ubuntu-22.04
    continue-on-error: true

    strategy:
      matrix:
        batch:
          - { name: "batch 1 - cache", FT_FROM_IX: 0,   FT_TO_IX: 300,  CB_NO_CACHE: ""  }
          - { name: "batch 2 - cache", FT_FROM_IX: 301, FT_TO_IX: 600,  CB_NO_CACHE: ""  }
          - { name: "batch 3 - cache", FT_FROM_IX: 601, FT_TO_IX: 900,  CB_NO_CACHE: ""  }
          - { name: "batch 4 - cache", FT_FROM_IX: 901, FT_TO_IX: 1200, CB_NO_CACHE: ""  }
          - { name: "batch 5 - cache", FT_FROM_IX: 1201,FT_TO_IX: "",   CB_NO_CACHE: ""  }
          - { name: "batch 1 - no cache", FT_FROM_IX: 0,   FT_TO_IX: 300,  CB_NO_CACHE: "ON" }
          - { name: "batch 2 - no cache", FT_FROM_IX: 301, FT_TO_IX: 600,  CB_NO_CACHE: "ON" }
          - { name: "batch 3 - no cache", FT_FROM_IX: 601, FT_TO_IX: 900,  CB_NO_CACHE: "ON" }
          - { name: "batch 4 - no cache", FT_FROM_IX: 901, FT_TO_IX: 1200, CB_NO_CACHE: "ON" }
          - { name: "batch 5 - no cache", FT_FROM_IX: 1201,FT_TO_IX: "",   CB_NO_CACHE: "ON" }

    name: functional - ${{ matrix.batch.name }}

    steps:
      - uses: actions/checkout@v2

      - name: Run functional test
        env:
          REPO_ACCESS_TOKEN: ${{ secrets.REPO_ACCESS_TOKEN }}
          FT_FROM_IX: ${{ matrix.batch.FT_FROM_IX }}
          FT_TO_IX:   ${{ matrix.batch.FT_TO_IX }}
          CB_NO_CACHE: ${{ matrix.batch.CB_NO_CACHE }}
          TEST_IMAGE_NAME: ${{ env.TEST_IMAGE_NAME }}
        run: |
          docker compose \
            --project-name functional-${{ github.run_id }}-${{ strategy.job-index }} \
            -f ./ci/deb/functional_tests_compose.yml \
            --project-directory . \
            up  --build --abort-on-container-exit --exit-code-from tests \
            --attach tests \
            --no-log-prefix
